<% if @novel.new_record? %>
	<h1>New Novel</h1>
<% else %>
	<h1>Edit novel name</h1>
<% end %>

<%= form_for @novel do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name  %>

	<%= @novel.new_record? ? (f.button "New Novel", class: "waves-effect waves-light btn right") : (f.submit 'Edit Name', class: "waves-effect waves-light btn right") %>

<% end %>