<h1>Index novels</h1>

<ul>
	<% @novels.each do |novel| %>
		<li>
			<%= link_to novel.name, novel_path(novel) %>
			<% if user_signed_in? && current_user.admin %>
				<%= link_to "Delete Novel", novel_path(novel), method: :delete, 
				data: { confirm: "Are you sure?" }, :title => "Delete #{novel.name}" %>
			<% end %>
		</li>
	<% end %>
</ul>




